

body {

  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0;

  background-color:  #1f1f1f;
  font-family: Arial, Helvetica;
  text-align: justify;
}

a{
  text-decoration:none;
}

/*
 * navbar
 */

header {
  z-index: 2;
  position: fixed;
  top: 0;
  left:0;

  width: 100%;

  background-color:#0d1d38;
  box-shadow: #000000 0px 2px 10px;
  color:white;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#head1 {
  margin: 0 auto 0 15px;
}

#head2 {
  margin: auto 15px auto 15px;
}

/*#head2 {
  margin: auto 15px auto auto;
  display:flex;
  flex-direction: row;
}*/

header img {
  width: 40px;
  height: 40px;
}

header>img{
  margin: auto 10px auto 15px;
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

header>img:hover {
  -webkit-transform:scale(1.1); /* Safari et Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* Internet Explorer 9 */
  -o-transform:scale(1.1); /* Opera */
  transform:scale(1.1);
  cursor: pointer;
}

#head2 button{
  display:none;
}

nav{
  width:100%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}

nav a{
  margin-left: 50px;
  padding:10px;
  background-color:#0d1d38;
  font-size: 24px;
  color:white;
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s, ease;
}

nav a:hover{
  border-radius: 15px;
  background-color: white;
  color:black;
}

/*
 * En-tête blocs
 */

.header {
  width: 100%;
  height: auto;
  text-align: center;
  color:white;
  text-shadow: #000000 1px 0 5px;

  display: inline-block;
  position: relative;
}

.header img {
  height: 100%;
  box-shadow: #000000 0px 2px 10px;
}

.header .text{
  z-index: 1;
  position: absolute;
  margin: 0 auto;
}

#competences .header .text {
  left: 0;
  right: 0;
  bottom:35%;
}

#realisations .header .text {
  left: 0;
  right: 0;
  bottom:30%;
}

#contact .header .text {
  left: 0;
  right: 0;
  bottom:35%;
}

.content {
  width: 75%;
  margin: 20px auto 20px auto;

  border-radius: 5px;
  background-color:#333333;
  box-shadow: #000000 0px 2px 10px;
  color: white;
  text-align:center;
}

/*
 * A propos de moi
 */



#apropos{
  margin-top:5%;
}

.apropos-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.content hr{
  margin: 0 1% 0 1%;
  border: 1px solid grey;
}

.apropos-content .text {
  width:90%;
  text-align:left;
}

.apropos-content .text p{
  font-size:22px;
}

.formations{
  justify-content: space-around;
}

.formation{
  border-left:3px solid #0d1d38;
  padding-left: 1%;
  text-align: left;
}

.apropos-content .cv {
  width: 200px;
  margin: 20px auto 20px auto;
  padding:5px;
  text-align:center;

  font-family: Arial, Helvetica;

  border-radius: 20px;
  background-color: #0d1d38;
  box-shadow: #000000 0px 2px 10px;
}

.apropos-content .cv:hover {
  -webkit-transform:scale(1.1); /* Safari et Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* Internet Explorer 9 */
  -o-transform:scale(1.1); /* Opera */
  transform:scale(1.1);
}

.apropos-content .cv a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.apropos-content>div{
  margin:1%;
}


/*
 * Mes Compétences
 */

 .competences-content {
   display: flex;
   flex-direction: row;
   justify-content: start;
 }



.bloc-competences{
  width:50%;
  text-align:center;
  margin-bottom:10px;
}

.competence{
  margin : 10px 0 10px 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.competence img{
  width:75px;
}

.competence img:hover{
  -webkit-transform:scale(1.1); /* Safari et Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* Internet Explorer 9 */
  -o-transform:scale(1.1); /* Opera */
  transform:scale(1.1);
}

.competence .bar{
  width:60%;
  height: 35px;
  margin: auto 10px auto 10px;
  border: 3px solid white;
  border-radius: 5px;
}

.inside-bar{
  height: 35px;
  border-radius: 0px;
  background-color:#0d1d38;
}

.competence p{
  margin: auto 0 auto 0;
  font-size: 150%;
  font-weight: bold;
}



/*
 * Mes Projets
 */

.projects-content {
  width: 75%;
  margin: 20px auto 20px auto;

  display: flex;
  flex-direction: row;
  justify-content: center;

  flex-wrap:wrap;
}


.bloc-projet {
  width: 100%;
  height: 100%;
}

.bloc-projet .projet {
  -webkit-transition: all 1s, background-color 0s ease; /* Safari et Chrome */
  -moz-transition: all 1s, background-color 0s ease; /* Firefox */
  -ms-transition: all 1s, background-color 0s ease; /* Internet Explorer 9 */
  -o-transition: all 1s, background-color 0s ease; /* Opera */
  transition: all 1s, background-color 0s ease;

  text-align: center;
  border-radius: 10px;
  background-color:#333333;


  box-shadow: #000000 0px 2px 10px;
  margin: 25px;
}

.bloc-projet .projet.spaceinvaders{
  background-color:#000000;
}

.bloc-projet:hover .projet {
  -webkit-transform:scale(1.1); /* Safari et Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* Internet Explorer 9 */
  -o-transform:scale(1.1); /* Opera */
  transform:scale(1.1);
}


figcaption{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

figcaption>img{
  width: 75px;
  margin: 5px;
}

figcaption>p{
  color:white;
  font-weight:bold;
}

.spaceinvaders figcaption>p{
  color:white;
}

/*
 * Me contacter
 */
.contact-content{
  display:block;

}

.contact-liens {
  width: 75%;
  margin: 20px auto 20px auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.contact-liens img{
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.contact-liens img:hover{
  -webkit-transform:scale(1.1); /* Safari et Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* Internet Explorer 9 */
  -o-transform:scale(1.1); /* Opera */
  transform:scale(1.1);
}

/*
 * Pied de page
 */

footer {
  width: 100%;

  border: 1px solid black;
  background-color:#0d1d38;
  color:white;

  bottom:0;

  text-align: center;
}

/*****************************************
Mobile
*****************************************/

@media screen and (max-width: 1024px) and (orientation: portrait){


  html{
    font-size: 200%;
  }

  header{
    height:150px;
  }

  header img {
    width: 75px;
    height: 75px;
    margin-right: 25px;
  }

  #head2{
    display:flex;
    flex-direction: row;
    -ms-align-items: center;
    align-items: center;
  }

  #head2 button{
    width: 75px;
    height: 75px;
    display:block;
    background: none;
    border:none;
  }

  #head2{
    display:flex;

    flex-direction:column;
  }

  #head2 nav{
    display:none;
    background-color:#0d1d38;
    box-shadow: #000000 0px 10px 10px;

    flex-direction:column;
  }

  .header{
    height:300px;
    margin: 30px 0 30px 0;
  }

  .content {
    width: 90%;
  }

  .content hr{
    margin: 4% 4% 4% 4%;
  }

  /*
   * A propos
   */

  #apropos{
    margin-top:20%;
  }

  .apropos-content {
    flex-direction: column;
  }

  .apropos-content>div{
    margin:8%;
  }

  .apropos-content .img {
    margin: 20px auto 0 auto;
  }

  .apropos-content .img img{
    height: 375px;
  }

  .apropos-content .text {
    margin: 0 8% 0 8%;
  }

  .apropos-content .text p{
    font-size:100%;
  }

  .apropos-content .cv {
    width:400px;
    margin-bottom: 8%;
  }

  /*
   * Competences
   */

  .competences-content {
    flex-direction: column;
  }

  .bloc-competences{
    width:100%;
  }

  .competence{
    margin : 60px;

  }

  .competence img{
    width:150px;
  }

  .competence .bar{
    height: 70px;
    margin: auto 40px auto 40px;
    border: 5px solid white;
    border-radius: 10px;
  }

  .inside-bar{
    height: 70px;
    border-radius: 5px;
  }

  /*
   * Projets
   */

   .bloc-projet {
   margin: 60px 0 60px 0;
   }

   figure>img{
     width: 500px;
     height: 500px;
   }

   figcaption>img{
     width: 150px;
     margin: 5px;
   }

   /*
    * Contact
    */

    .contact-liens a img {
      height: 150px;
    }
